{% extends 'layout.html' %}
{% block body %}
    {% if not files %}
        Please <a href="{{url_for('oauth2callback')}}">authorize</a> the app, first.
    {% else %}
        <ul>
        {% for file in files %}
            <li>Title: {{file["title"]}}
            <ul>
            <li>Link: <a href="{{file["alternateLink"]}}">{{file["alternateLink"]}}</a></li>
            <li>Owners:<ul>
                {% for owner in file["owners"] %}
                    <li>{{owner["displayName"]}} &lt;{{owner["emailAddress"]}}&gt;</li>
                {% endfor %}
                </ul></li>
            
            </ul></li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
