{% extends 'layout.html' %}
{% block body %}
    {% if files is none %}
        Please <a href="{{url_for('oauth2callback')}}">authorize</a> the app, first.
    {% elif files|length == 0 %}
        No documents with shared links! You may rejoice at your leisure.
    {% else %}
        Here are documents with shared links ({{num_not_counted}} documents without shareable links not shown):
        <ul>
        {% for file in files %}
            <li>Title: {{file["title"]}}
            <ul>
            <li>Link: <a href="{{file["alternateLink"]}}">{{file["alternateLink"]}}</a></li>
            <li>Owners:<ul>
                {% for owner in file["owners"] %}
                    <li>{{owner["displayName"]}} &lt;{{owner["emailAddress"]}}&gt;</li>
                {% endfor %}
                </ul></li>

            </ul></li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
